<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Exam</title>

    <!--build:css css/styles.min.css-->
    <link href="css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="css/sprite.css" rel="stylesheet" type="text/css"/>
    <link href="css/fonts.css" rel="stylesheet" type="text/css"/>
    <link href="css/Desctop.css" rel="stylesheet" type="text/css"/>
    <link href="css/Tablet.css" rel="stylesheet" type="text/css"/>
    <link href="css/Mobile.css" rel="stylesheet" type="text/css"/>
    <!--endbuild-->  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>      
 
 <link rel='stylesheet' media='(min-width: 667px)' href="css/allStyle.css" />
   
    <!--    [if IE 8]><script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/src/html5shiv.js"></script> <link rel="stylesheet" href="../app/css/style_ie8.css"> -->
<body>

    <!--build:js js/main.min.js -->
        <script src="js/slider.js "></script>
        <script src="js/imgloaded.pkgd.js "></script>
        <script src="js/masonry.min.js "></script>
        <script src="js/tmpl.js"></script>
        <script src="js/script.js "></script>
    <!-- endbuild -->
        
<div class="wrapper">
    <section class="promo">
        <div class="promo--wrapper">
            <header class="promo__header">
                <div class="promo__header__connect">
                    <a href="#" class="promo__header__connect--link">Log in</a>
                    <a href="#" class="promo__header__connect--link">Sign up</a>
                </div>
                <a href="#" class="promo__header__title">URLAUBSGLÜCK</a>
            </header>
            <div class="promo__info">
                <h1 class="promo__info__title">Share your
                    holiday dreams</h1>
                <p class="promo__info__text">And find the perfect partner
                    to fullfill it</p>
                <button class="promo__info__button">Find your holiday partner</button>
            </div>
        </div>
    </section>
    <section class="about">
        <h2 class="about__title">How Urlaubsglück works?</h2>
           <div class="about__desktop about__mobile">
             <ul class="about__list about__mobile__list">
                <li class="about__item">
                    <ul class="bxslider">
                        <li class="about__mobile__item about__item--first">
                            <img class="about__item__img" src="img/slider1.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num">step 1</h3>
                                <h2 class="about__item__title">Sed leo enim, condimentum</h2>    
                                <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                       <li class="about__mobile__item about__item--second">
                            <img class="about__item__img" src="img/slider2.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num about__item__num--second">step 2</h3>
                                <h2 class="about__item__title">Morbi velit risus</h2>
                                <p class="about__item__text about__item__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                            </div>
                        </li>
                        <li class="about__mobile__item about__item--third">
                            <img class="about__item__img" src="img/slider3.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num">step 3</h3>
                                <h2 class="about__item__title">Sed leo enim,condimentum</h2>
                                <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="about__item">
                    <ul class="bxslider">
                         <li class="about__mobile__item about__item--second">
                            <img class="about__item__img" src="img/slider2.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num about__item__num--second">step 2</h3>
                                <h2 class="about__item__title">Morbi velit risus</h2>
                                <p class="about__item__text about__item__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                            </div>
                        </li>
                        <li class="about__mobile__item about__item--third">
                            <img class="about__item__img" src="img/slider3.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num">step 3</h3>
                                <h2 class="about__item__title">Sed leo enim,condimentum</h2>
                                <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                        <li class="about__mobile__item about__item--first">
                            <img class="about__item__img" src="img/slider1.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num">step 1</h3>
                                <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                                <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="about__item">
                  <ul class="bxslider">
                        <li class="about__mobile__item about__item--third">
                            <img class="about__item__img" src="img/slider3.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num">step 3</h3>
                                <h2 class="about__item__title">Sed leo enim,condimentum</h2>
                                <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                        <li class="about__mobile__item about__item--first">
                            <img class="about__item__img" src="img/slider1.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num">step 1</h3>
                                <h2 class="about__item__title">Sed leo enim, condimentum</h2>
                                <p class="about__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                       <li class="about__mobile__item about__item--second">
                            <img class="about__item__img" src="img/slider2.png" alt="slider-pic"/>
                            <div class="about__item--wrapper about__mobile__item--wrapper">
                                <h3 class="about__item__num about__item__num--second">step 2</h3>
                                <h2 class="about__item__title">Morbi velit risus</h2>
                                <p class="about__item__text about__item__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section class="partners">
        <h2 class="partners__title">Meet a partner for your
            best holiday</h2>
        <ul class="partners__list">
            <li class="partners__item">
                <div class="partners__item__img partners__item__img--first"></div>
                <span class="partners__item__symbol icon-tv"></span>
    
                <h3 class="partners__item__title">Bradley Hunter</h3>
    
                <p class="partners__item__text">Based in Chicago. I love playing tennis and loud music.</p>
            </li>
            <li class="partners__item">
                <div class="partners__item__img partners__item__img--second"></div>
                <span class="partners__item__symbol icon-coffee"></span>
    
                <h3 class="partners__item__title">Heather Walker</h3>
    
                <p class="partners__item__text">I'm a happy person that loves cats and climbing on mountains.</p>
            </li>
             <li class="partners__item">
                <div class="partners__item__img partners__item__img--third">
                    <img src="img/partner3.png" alt="partner3" class="partners__item__img"/>
                </div>
                <span class="partners__item__symbol icon-chem"></span>
    
                <h3 class="partners__item__title">Lucas Marsha</h3>
    
                <p class="partners__item__text">I get my inspiration from nature and objects around me. I have a passion
                    to colours, typography and skateboards.</p>
            </li>
            <li class="partners__item">
                <div class="partners__item__img partners__item__img--fourth"></div>
                <span class="partners__item__symbol icon-plane"></span>
    
                <h3 class="partners__item__title">Bradley Hunter</h3>
    
                <p class="partners__item__text">Based in Chicago. I love playing tennis and loud music.</p>
            </li>
        </ul>
        <button class="partners__button">See other partners</button>
    </section>
    <section class="ideas">
        <h2 class="ideas__title">Discover holiday activity
            ideas</h2>
    
        <script type="text/template" id="container">
            <div class="grid">
                <% for (var i = 0; i < 10; i++) { %>
                <figure class="grid-item">
                    <img src="<%= hits[i].webformatURL %>" alt="picture" class="ideas__img"/>
                    <figcaption class="ideas__img--title"><%= hits[i].tags.split(', ')[1] %></figcaption>
                </figure>
                <% } %>
            </div>
        </script>
    </section>
    <section class="search">
        <h2 class="search__title">Discover holiday activity ideas</h2>
    
        <p class="search__text">Hi! What are your holiday interests?</p>
            <input type="search" placeholder="Enter your interests" class="search__field"/>
            <button class="search__button">Search partners</button>
    </section>
    <footer class="footer">
        <div class="footer--block">
            <a href="#" class="footer__title">URLAUBSGLÜCK</a>
    
            <div class="footer__company">
                <h3 class="footer__company__title">Company</h3>
                <ul class="footer__company__list">
                    <li class="footer__company__item"><a href="#" class="footer__company__link">About</a></li>
                    <li class="footer__company__item"><a href="#" class="footer__company__link">Contacts</a></li>
                    <li class="footer__company__item"><a href="#" class="footer__company__link">Press</a></li>
                    <li class="footer__company__item"><a href="#" class="footer__company__link">Blog</a></li>
                </ul>
            </div>
            <div class="footer__partners">
                <h3 class="footer__partners__title">Partners</h3>
            </div>
            <div class="footer__logo">
                <h4 class="footer__logo__title">Designed by</h4>
                <a href="#" class="footer__logo__link"><img src="img/logo.png" alt="logo" class="footer__logo__img"/></a>
            </div>
        </div>
    
    </footer>
</div>
</body>
</html>